/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-image: url(../imagenes/fondo_640.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #3E3919;
  font-family: "Raleway", sans-serif; }

body {
  background-color: rgba(0, 0, 0, 0.7); }

p {
  line-height: 2em; }

ul.errors li {
  color: red; }

#cabecera {
  background: black;
  z-index: 1;
  height: auto;
  position: fixed;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #cabecera {
      display: flex;
      justify-content: space-between; } }
  #cabecera div.contenedor {
    display: flex;
    justify-content: space-between; }
    #cabecera div.contenedor a.logo {
      padding: 1em; }
      @media screen and (min-width: 768px) {
        #cabecera div.contenedor a.logo {
          padding: 1.5em; } }
    #cabecera div.contenedor a.nav-movil {
      padding: 1em;
      height: 30px; }
      #cabecera div.contenedor a.nav-movil img {
        height: 30px; }
  #cabecera nav {
    list-style: none;
    background: #000000;
    display: none;
    z-index: 2; }
    #cabecera nav ul {
      display: block;
      text-align: center; }
      #cabecera nav ul li {
        flex: auto;
        border-top: 1px solid rgba(255, 255, 255, 0.3); }
        #cabecera nav ul li:hover {
          background-color: rgba(255, 255, 255, 0.2); }
        #cabecera nav ul li:active {
          background-color: rgba(255, 255, 255, 0.5);
          /* Code for Chrome, Safari and Opera */
          /* Standard syntax */ }
@-webkit-keyframes mymove {
  from {
    background-color: red; }
  to {
    background-color: blue; } }
@keyframes mymove {
  from {
    background-color: red; }
  to {
    background-color: blue; } }
        #cabecera nav ul li a {
          color: #eee;
          text-decoration: none;
          line-height: 3;
          display: block; }
    @media screen and (min-width: 768px) {
      #cabecera nav {
        display: flex;
        margin-right: 2em; }
        #cabecera nav ul {
          display: flex;
          flex-direction: row;
          z-index: 2; }
          #cabecera nav ul li {
            text-align: center;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            display: block;
            padding: 0.8em; }
            #cabecera nav ul li:hover {
              border-bottom: 0.4em solid #FDE403;
              background-color: black; }
            #cabecera nav ul li:active {
              background-color: rgba(255, 255, 255, 0.5); }
            #cabecera nav ul li a {
              padding-left: 0;
              font-weight: bold;
              width: 100%;
              height: 100%;
              display: block; }
              #cabecera nav ul li a:hover {
                color: none; } }

#toggle-menu {
  line-height: 2.5;
  padding-left: 1em;
  cursor: pointer; }
  #toggle-menu:hover img #path4155 {
    fill: #ffffff; }
  #toggle-menu:hover img #path4157 {
    fill: #ffffff; }
  #toggle-menu:hover img #path4159 {
    fill: #ffffff; }
  @media screen and (min-width: 768px) {
    #toggle-menu {
      display: none; } }

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-align: center;
  padding: 40% 5% 25% 5%; }
  #inicio hgroup h1 {
    text-shadow: 4px 4px 4px #000000;
    font-size: 200%; }
  #inicio hgroup p {
    font-style: italic;
    text-shadow: 4px 4px 4px #000000;
    margin: 1em; }
  #inicio div {
    display: flex;
    justify-content: space-around; }
    #inicio div a.facebook img {
      height: 40px;
      margin: 0.5em 0.5em 0.5em 0.5em; }
    #inicio div a.twitter img {
      height: 40px;
      margin: 0.5em 0.5em 0.5em 0.5em; }
    #inicio div a.googleplus img {
      height: 40px;
      margin: 0.5em 0.5em 0.5em 0.5em; }

@media only screen and (min-width: 768px) {
  #inicio {
    padding: 25% 5% 25% 5%; }
    #inicio hgroup h1 {
      text-shadow: 8px 8px 8px #000000;
      font-size: 4em; }
    #inicio hgroup p {
      font-style: italic;
      text-shadow: 4px 4px 4px #000000;
      margin: 1em;
      font-size: 1.5em; } }
#productos {
  background: #ffffff;
  height: auto;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 10%;
  -ms-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg); }
  @media screen and (min-width: 768px) {
    #productos {
      padding-top: 10%; } }
  #productos hgroup {
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-align: center; }
    #productos hgroup h2 {
      font-size: 2em;
      padding: 0.5em 0.5em 0.5em 0.5em;
      font-weight: bold; }
    #productos hgroup p {
      width: auto;
      font-size: 1em;
      padding: 0.5em 0.5em 3.5em 0.5em;
      margin-left: 10%;
      margin-right: 10%; }
  #productos div.contenedor {
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000000;
    text-align: center; }
    #productos div.contenedor article {
      width: 230px;
      padding: 10px;
      margin: 10px;
      background-color: #F5F3E6;
      border-radius: 8px; }
      #productos div.contenedor article img {
        height: 210px;
        width: 210px;
        border-radius: 4px; }
      #productos div.contenedor article h3 {
        width: auto;
        padding: 10px;
        text-align: center; }

@media only screen and (min-width: 768px) {
  #productos div.contenedor {
    padding: 10%;
    padding-top: 0%; }
    #productos div.contenedor article {
      margin-top: 50px;
      margin-botton: 50px; } }
#quienessomos {
  height: auto;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 10%; }
  @media screen and (min-width: 768px) {
    #quienessomos {
      padding-top: 10%; } }
  #quienessomos hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    text-align: center; }
    #quienessomos hgroup h2 {
      font-size: 2em;
      padding: 0.5em 0.5em 0.5em 0.5em;
      font-weight: bold; }
    #quienessomos hgroup p {
      width: auto;
      font-size: 1em;
      padding: 0.5em 0.5em 3.5em 0.5em;
      margin-left: 10%;
      margin-right: 10%; }
  #quienessomos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #ffffff;
    text-align: center; }
    #quienessomos div article {
      width: 230px;
      padding: 2%;
      margin: 2%; }
      #quienessomos div article img {
        height: 220px;
        width: 220px;
        border-radius: 50%; }
      #quienessomos div article h3 {
        width: 200px;
        padding: 10px; }

#contacto {
  background: #ffffff;
  height: auto;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 10%;
  -ms-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg); }
  @media screen and (min-width: 768px) {
    #contacto {
      padding-top: 10%; } }
  #contacto hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-align: center;
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg); }
    #contacto hgroup h2 {
      font-size: 2em;
      padding: 0.5em 0.5em 0.5em 0.5em;
      font-weight: bold; }
    #contacto hgroup p {
      width: auto;
      font-size: 1em;
      padding: 0.5em 0.5em 3.5em 0.5em;
      margin-left: 10%;
      margin-right: 10%; }
  #contacto form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg); }
    #contacto form input {
      background: rgba(0, 0, 0, 0.3);
      margin: 0.5em;
      width: 80%;
      height: 30px;
      padding: 0.4em;
      color: #ffffff;
      font-size: 1.2em;
      border-radius: 4px; }
    #contacto form textarea {
      background: rgba(0, 0, 0, 0.3);
      padding: 0.4em;
      border: 0px;
      margin: 0.5em;
      width: 80%;
      height: 150px;
      color: #ffffff;
      font-size: 2em;
      border-radius: 4px;
      resize: none;
      overflow: hidden; }
    #contacto form #enviar {
      background-color: #336699;
      padding: 0.4em;
      height: 3em;
      width: 80%;
      font-weight: bold;
      font-size: 1.2em;
      color: #ffffff; }

#info {
  height: auto;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%; }
  #info ul {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    text-align: center; }
    #info ul li {
      width: 250px; }
      #info ul li img {
        height: 40px;
        width: auto;
        margin-top: 3em; }
      #info ul li p {
        margin: 1em; }

@media only screen and (min-width: 768px) {
  #info ul {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-around; } }
#mapa {
  background: #ffffff;
  height: auto;
  width: 100%;
  padding-top: 10%;
  -ms-transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  transform: skewY(3deg);
  z-index: 1; }
  #mapa hgroup {
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    align-items: center;
    color: #000000;
    text-align: center; }
    #mapa hgroup h2 {
      font-size: 2em;
      padding: 0.5em 0.5em 0.5em 0.5em;
      font-weight: bold; }
  #mapa iframe {
    width: 100%;
    height: 500px;
    -ms-transform: skewY(-3deg);
    -webkit-transform: skewY(-3deg);
    transform: skewY(-3deg);
    margin-bottom: -10%; }
    @media screen and (min-width: 768px) {
      #mapa iframe {
        margin-bottom: -10%; } }

#pie {
  background: #000000;
  height: auto;
  width: 100%;
  z-index: 2;
  margin-top: 10%;
  margin-bottom: 0px;
  padding-bottom: 0px; }
  #pie ul {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-weight: lighter; }
    #pie ul li {
      margin: 1em; }
      #pie ul li p {
        float: left; }

/*# sourceMappingURL=base.css.map */
